.slide-in {
    transform: translateX(-100%);
    animation: slideInAnimation 0.5s ease-in forwards;
  }
  
  .fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }
  
  @keyframes slideInAnimation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  