/* .App {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #0062ff, #da61ff);
  height: 'full';
  width: 'full';
  
} */

:root {
  min-height: 100vh;
}

body {
  height: 100vh;
   background: linear-gradient(90deg,#edeff1,#bab9b8);

}
